/*@font-face {
    font-family: 'UkrainianMyslBoldItalic'; /* Гарнитура шрифта */
  /*  src: url('../fonts/UkrainianMyslBoldItalic.ttf'); /* Путь к файлу со шрифтом */
/*}
*/
@font-face {
  font-family: 'UkrainianMonoCondensed';
  src: url('UkrainianMonoCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{font-family:UkrainianMonoCondensed;background: #F7F7F7;}
/* шапка */

header{background-color: #00a0c6;}
/*меню */
.menu{border: 0;padding:15px 0 10px;} /*border-bottom: 1px solid #6cc8dd*/
.navbar-brand img{position: relative;top: -20px;}
.navbar-default{background: transparent;}
.navbar-default .navbar-nav > li > a{color: #fff;text-transform: uppercase;font-size: 18px;}
.link-active{background: #00809E;}
.navbar-nav > li > a{padding: 30px;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{background: #000;color: #fff;}
.navbar-default .navbar-toggle .icon-bar{background-color: #fff;}
/*.navbar-collapse{margin-top: 37px;}*/ /* Отступ в меню маленьком */
.navbar-toggle{margin-top: 20px;}
/* /меню */

/* Слайдер */

.carousel .item{min-height: 500px;}
.carousel .bgslid{position: absolute;top: 0;left:0;height: 100%;width: 100%;background-size: cover;background-position: center center;}
.carousel-indicat{position: absolute;bottom: -46px;width: 100%;background: #8fcedd;height: 46px;z-index: 3;}
.carousel-indicat .carousel-indicators{bottom: 0;}
.carousel-indicat .carousel-indicators li{background: #80adb7;border: none;width: 9px; height: 9px; margin: 0 3px;}
.carousel-indicat .carousel-indicators li.active{background: #fff;}
.carousel-shadow{width: 100%;height: 1px;position: absolute;bottom: -1px;background: #7eb9c8;}
.carousel-border{width: 100%;height: 6px;position: absolute;bottom: -7px;background: #82c1cf;}

/* слайдер текст сверху */

.carousel-head{position: relative; border-top: 1px solid #51BDD7;}
.carousel-head-text{position: absolute;width: 100%;z-index: 20;color:#fff;}
.carousel-head-text h1{text-transform: uppercase;font-size: 24px;}
.carousel-head-text h2{text-transform: uppercase;font-size: 20px;}
.carousel-head-text h2 span{display: inline-block;background: #fff;color:#27AECE;vertical-align: top;padding: 4px;font-size: 12px;border-radius: 5px;margin-right: 13px;}
.carousel-head-text div:first-child h2{font-size: 24px; text-transform: none;}

/* Основное меню */

.menu-down{margin-top: 60px; background: #00A0C6;height: 52px;box-shadow: 0 5px 9px 1px #000;position: relative;z-index: 9999999;display: none;}
.menu-down .navbar-brand{padding: 0;height: 48px;}
.menu-down .navbar-brand img{top: 0;}
.menu-down .navbar-nav > li > a{padding:11px;}
.menu-down .navbar-nav > li{background:#00A0C6;}
.menu-down .navbar-nav > li.link-active{background: #00809e; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background: #00809e;color:#fff;}
.menu-down .menu{padding: 5px 0;}
.menu-down .navbar-toggle{margin-top:4px;}
.menu-down .carousel-shadow{width: 100%;height: 1px;position: absolute;bottom: -1px;background: #66c6dd;}
.menu-down .carousel-border{width: 100%;height: 3px;position: absolute;bottom: -4px;background: #46bad5;}
/* фиксация меню */
.fixed{position: fixed;top:0;left: 0;z-index: 9999999;margin-top: 0;display: block;opacity: 0.8;}
/* Услуги */

.amenities{margin-top: 75px;text-align: center;}
.amenities h2{background: #000;text-transform: uppercase;text-align: center;color: #fff;margin: 0;border-bottom: 5px solid #00A0C6;font-size: 26px;height: 131px;display: table;width: 100%;line-height:1.5;}
.amenities h2 span{display: table-cell;vertical-align: middle;}
.amenities img{margin-top: 15px;margin-bottom: 15px; height: auto;}
.amenities .amenities-bg > span{display: block;font-family:verdanahandRegular; font-size: 12px;font-style:italic;text-shadow: 0px 0px 1px #aaa;}
.amenities-bg{background: #EFEFEF;}
.amenities hr{border-color: #e0dedd;width: 60%;margin-bottom: 5px; }
span.amenities-price{font-size: 14px;}
.amenities a{background: #17A2C3;color: #fff;border-color:#17A2C3;text-transform: uppercase;font-size: 24px;margin: 13px 0;padding: 6px 30px;}
.amenities a:hover{background: #000;}

/* о нас */

.about-us{margin-top: 90px;}
.about-us h2{margin-bottom: 25px;}
.about-us span{display: block;font-family:verdana;font-size: 12px;text-shadow: 0px 0px 1px #aaa;}
.about-us-manager div:last-child{margin-top: 81px;}

/* Портфолио */

.portfolio{margin-top: 80px;}
.portfolio .portfolio-img h2{margin-bottom: 30px;}
.portfolio-text h2{color:#515151;font-family:verdana;}
.portfolio-text span{display: block;font-family:verdana; font-size: 14px;font-style:italic;text-shadow: 0px 0px 1px #aaa;}
.portfolio-text a{background: #17A2C3;color: #fff;border-color:#17A2C3;font-size: 14px;margin: 32px 0 10px;padding: 6px 10px 8px;font-style:italic;font-family:verdana;}
.portfolio-text a:hover{background: #000;}
.portfolio-row{margin-top: 30px;}
.portfolio-row .portfolio-text h2{margin-top:0px;}
.portfolio-row:first-child .portfolio-text h2{margin-top:80px;}
.portfolio-row:first-child{margin-top: 0;}


/* Контакты */

.contact{background-image: url(../img/bgcont.png);width: 100%;background-size: cover;background-position: center center;margin-top: 70px;padding-top: 13px;color:#fff;padding-bottom: 15px;}
.contact h2{padding-bottom: 25px;}
.section-form form > div{padding-left: 0;}
.section-form button{background: #17A2C3;color: #fff;border-color:#17A2C3;font-size: 14px;margin: 13px 0;padding: 6px 10px 8px;font-style:italic;font-family:verdana;}
.section-form button:hover{background: #000;}
.contact span {font-size: 24px;}
.contact-img img{margin: 15px 5px}
.contact-img img:first-child{margin-right: 45px;}
.contact-img img:last-child{margin-right: 0;}


/* Скрол */

.scrol-up{position: relative;padding: 15px 0 12px;}
.scrol-up hr{border-width: 2px 0 0;}
.scrol-up img{position: absolute;top: 16px;left: 47%;cursor: pointer;}

/* footer */

.footer{background-image: url(../img/bg-footer.png);width: 100%;background-size: cover;background-position: center center;color: #000;padding: 10px 0;border-top: 20px solid #000;}
.footer span{display: block;font-size: 18px;}
.footer span:first-child{font-size: 24px;}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.amenities h2{font-size: 21px;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.carousel-head-text div:last-child,.about-us div:last-child{text-align: left;}
    .amenities h2{font-size: 30px;}
    .portfolio-text h2{margin-top: 20px !important;}
    .contact div{text-align: left;}
    div.carousel-head-text , div.carousel-head-text div.text-md-center{text-align: center;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    header .menu .navbar-brand img{width: 140px;height: auto;}
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}